name: CI
on:
  pull_request:
  push:
    branches: [ master ]
jobs:
  tests-linux:
    strategy:
      matrix:
        arch: [x64, arm64]
    runs-on: ${{ matrix.arch == 'x64' && 'ubuntu-24.04' || 'ubuntu-24.04-arm' }}
    steps:
      - uses: actions/checkout@v6
      - name: install dependencies
        run: |
          sudo apt update
          sudo apt purge -y llvm-16 llvm-17 llvm-18 gcc-13 g++-13
          sudo apt install -y gcc-14 g++-14 cmake ninja-build python3
          wget https://apt.llvm.org/llvm.sh
          chmod +x llvm.sh
          sudo ./llvm.sh 19
      - name: build the compiler
        run: |
          mkdir build
          cd build
          cmake .. -GNinja
          ninja
      - name: run tests
        run: |
          python3 test.py
      - name: upload artifacts
        uses: actions/upload-artifact@v6
        with:
          name: artifacts-${{ matrix.arch }}
          path: build/Neon
